<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<properties>
		<property name="filename">./output.log</property>
	</properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %ex{full} %n" />
		</Console>
		<File name="File" fileName="${filename}">
			<PatternLayout
				pattern="%d{dd MMM yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %ex{full} %n " />
		</File>
	</appenders>
	<loggers>
		<logger name="jpl.mipl" level="debug">
			<appender-ref ref="File" />
			<appender-ref ref="Console" />
		</logger>
		<logger name="com.astrodoorways" level="debug">
			<appender-ref ref="File" />
			<appender-ref ref="Console" />
		</logger>
		<!-- <root level="error"> -->
		<!-- <appender-ref ref="Console"/> -->
		<!-- </root> -->
	</loggers>
</configuration>