<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="connection.url">jdbc:h2:db/image_conversions;MVCC=TRUE</property>
		<!-- <property name="connection.username">sa</property> -->
		<!-- <property name="connection.password"></property> -->

		<!-- this is connection provider -->
		<property name="connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider
		</property>
		<!-- and this is how you configure it -->
		<property name="bonecp.partitionCount">3</property>
		<property name="bonecp.maxConnectionsPerPartition">15</property>
		<property name="bonecp.minConnectionsPerPartition">2</property>
		<property name="bonecp.acquireIncrement">3</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">6</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect
		</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>